.page__main {
    text-align: center;
    color:#828080;
}

.page__products {
    padding:1rem;
    max-width: 1200px;
    margin: auto;
    @media only screen and (min-width:400px) {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    @media only screen and (min-width:700px) {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.page__width {
    max-width: 1200px;
    margin:auto;
}

.page__title {
    position: relative;
    overflow: hidden;

    h1 {
        position: absolute;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
        color:white;
        font-weight: normal;
        letter-spacing: 5px;
        font-size: 3rem;
    }
}

.page__titleBackground {
    height:80vh;
    width: 100%;
}

.page__hero {
    position: relative;
    overflow: hidden;
    margin-bottom: 5rem;

    h1 {
        position: absolute;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
        color:white;
        font-weight: lighter;
        letter-spacing: 5px;
        font-size: 4rem;
    }
}

.page__heroBackground {
    height:80vh;
    width: 100%;
}


.page__logo {
        position: absolute;
        top:50%;
        transform: translateY(-50%);
        width:50%;
        opacity: 0.4;
        object-position: center;
}

.logoRight {
        right:0.1rem;
}

.logoLeft {
    left:0;
}